name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Bootstrap
        run: ./bootstrap.sh

      - name: Generate
        run: make generate

      - name: Create the Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          zip stresstest-generated.zip LICENSE go.mod go.sum *.go
          gh release create ${{ github.ref_name }} stresstest-generated.zip --generate-notes
